#FAU Airline Recommender System

In [19]:
#importing necessary libraries.
import pandas as pd
import numpy as np

# import TfidfVector from sklearn.
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [20]:
#load dataset and prints columns
employees = pd.read_csv("fau_airlines_onboarding.csv")
print(employees.columns)

Index(['id', 'study degree', 'previous_experience', 'civil_status',
       'personality_traits', 'hobbies', 'favourite sport'],
      dtype='object')

In [21]:
#joined column and a new column results from them
def create_soup(x):
    return ''.join(x['study degree']) + ' ' + ''.join(x['previous_experience']) + ' ' + ''.join(x['civil_status']) + ' ' + ''.join(x['personality_traits']) + ' ' + ''.join(x['hobbies']) + ' ' + ''.join(x['favourite sport'])
employees['soup'] = employees.apply(create_soup, axis=1)

In [22]:
#TfidfVectorizer class that willbe used to creat TF-IDF vector
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(employees['soup'])
tfidf_matrix.shape

(100, 66)

In [23]:
# Calculate the cosine similarity between all pairs
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [24]:
# construct a reverse map of indices and employee IDs
indices = pd.Series(employees.index, index=employees['id']).drop_duplicates()

In [25]:
def get_recommendations(ID, cosine_sim=cosine_sim):
    
    # get the index of the employee that matches the employee ID
    IDx = indices[ID]
    
    # get the pairwise similarity scores of all employees with the specified employee ID
    sim_scores = list(enumerate(cosine_sim[IDx]))
    
    # sort employees based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # get the scores of the three most similar employees
    sim_scores = sim_scores[1:4]
    
    # get employee indices
    employees_indices = [i[0] for i in sim_scores]
    
    # return the top three most similar employees
    return employees['id'].iloc[employees_indices]

In [26]:
recomm=get_recommendations('emp_100', cosine_sim)
print(recomm)

88    emp_089
41    emp_042
75    emp_076
Name: id, dtype: object

In [27]:
employees[employees["id"].isin(['emp_042','emp_089','emp_076'])]

,id,study degree,previous_experience,civil_status,personality_traits,hobbies,favourite sport,soup
41,emp_042,media,Advanced beginner.,in a relationship,"Extrovert, expresses themselves easily, outgoi...","Interest centered around learning, reading and...",tennis,media Advanced beginner. in a relationship Ext...
75,emp_076,psychology,Novice.,in a relationship,"Extrovert, expresses themselves easily, outgoi...","Interest centered around learning, reading and...",tennis,psychology Novice. in a relationship Extrovert...
88,emp_089,economics,Advanced beginner.,in a relationship,"Extrovert, expresses themselves easily, outgoi...","Interest centered around learning, reading and...",swimming,economics Advanced beginner. in a relationship...

# Task: 02

In [28]:
#task 02
#add new employee

new_employee = {
    'id': 'emp_101',
    'study degree': 'communication',
    'previous_experience': 'Competent.',
    'civil_status': 'single',
    'personality_traits': 'Helpful, emotionally intelligent and gets along well with others',
    'hobbies': 'Interest centered around fitness, health, and wellbeing',
    'favourite sport': 'swimming'
}

# Convert the dictionary to a DataFrame and append it to the original DataFrame
new_employee_df = pd.DataFrame([new_employee])
employees = pd.concat([employees, new_employee_df], ignore_index=True)
employees

,id,study degree,previous_experience,civil_status,personality_traits,hobbies,favourite sport,soup
0,emp_001,economics,Expert.,married,"Extrovert, enjoys group work and likes to comm...","Interest centered around learning, reading and...",tennis,"economics Expert. married Extrovert, enjoys gr..."
1,emp_002,business,Novice.,single,"Intelligent, inquisitive and seeks out knowledge","Interest centered around fitness, health, and ...",volleyball,"business Novice. single Intelligent, inquisiti..."
2,emp_003,media,Advanced beginner.,married,"Introvert, empathetic, prefers a close circle ...",Keen interest in finance and investment,volleyball,"media Advanced beginner. married Introvert, em..."
3,emp_004,psychology,Competent.,single,"Helpful, emotionally intelligent and gets alon...",Interest centered around physical activities a...,tennis,"psychology Competent. single Helpful, emotiona..."
4,emp_005,economics,Proficient.,single,"Extrovert, enjoys group work and likes to comm...","Interest centered around fitness, health, and ...",swimming,"economics Proficient. single Extrovert, enjoys..."
...,...,...,...,...,...,...,...,...
96,emp_097,communication,Novice.,in a relationship,"Extrovert, expresses themselves easily, outgoi...","Interest centered around learning, reading and...",volleyball,communication Novice. in a relationship Extrov...
97,emp_098,communication,Advanced beginner.,single,Easily upset and overly critical of the self,"Interest centered around fitness, health, and ...",swimming,communication Advanced beginner. single Easily...
98,emp_099,psychology,Competent.,in a relationship,"Helpful, emotionally intelligent and gets alon...","Interest centered around fitness, health, and ...",swimming,psychology Competent. in a relationship Helpfu...
99,emp_100,psychology,Advanced beginner.,in a relationship,"Extrovert, expresses themselves easily, outgoi...","Interest in around reading and creative art, f...",swimming,psychology Advanced beginner. in a relationshi...
100,emp_101,communication,Competent.,single,"Helpful, emotionally intelligent and gets alon...","Interest centered around fitness, health, and ...",swimming,NaN

In [29]:
employees.iloc[100]

id                                                               emp_101
study degree                                               communication
previous_experience                                           Competent.
civil_status                                                      single
personality_traits     Helpful, emotionally intelligent and gets alon...
hobbies                Interest centered around fitness, health, and ...
favourite sport                                                 swimming
soup                                                                 NaN
Name: 100, dtype: object

In [30]:
employees['soup'] = employees.apply(create_soup, axis=1)

In [31]:
#TfidfVectorizer class that willbe used to creat TF-IDF vector
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(employees['soup'])
tfidf_matrix.shape

(101, 66)

In [32]:
# Calculate the cosine similarity between all pairs
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [33]:
# construct a reverse map of indices and employee IDs
indices = pd.Series(employees.index, index=employees['id']).drop_duplicates()

In [34]:
def get_recommendations(ID, cosine_sim=cosine_sim):
    
    # get the index of the employee that matches the employee ID
    IDx = indices[ID]
    
    # get the pairwise similarity scores of all employees with the specified employee ID
    sim_scores = list(enumerate(cosine_sim[IDx]))
    
    # sort employees based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # get the scores of the three most similar employees
    sim_scores = sim_scores[1:4]
    
    # get employee indices
    employees_indices = [i[0] for i in sim_scores]
    
    # return the top three most similar employees
    return employees['id'].iloc[employees_indices]

In [35]:
recomm=get_recommendations('emp_101', cosine_sim)
print(recomm)

6     emp_007
71    emp_072
98    emp_099
Name: id, dtype: object

In [36]:
employees[employees["id"].isin(['emp_039','emp_022','emp_063'])]

,id,study degree,previous_experience,civil_status,personality_traits,hobbies,favourite sport,soup
21,emp_022,business,Advanced beginner.,single,"Helpful, emotionally intelligent and gets alon...","Interest centered around fitness, health, and ...",swimming,"business Advanced beginner. single Helpful, em..."
38,emp_039,economics,Expert.,single,"Helpful, emotionally intelligent and gets alon...","Interest centered around fitness, health, and ...",swimming,"economics Expert. single Helpful, emotionally ..."
62,emp_063,economics,Advanced beginner.,single,"Helpful, emotionally intelligent and gets alon...","Interest centered around fitness, health, and ...",tennis,"economics Advanced beginner. single Helpful, e..."